<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="fontawesome/css/all.css">


    <!-- css manual wkwkwkw -->
    <style>
        .late_post{
            padding-left: 100px;
            width: 50%;
            margin: 0;
        }
        .review{
            padding-left: 100px;
            width: 50%;
            margin: 0;
        
        }
        footer{
            background-color: black;
            height: 70px;
            text-align: center;
            color: white;
        }
        .banner{
            width: 100%;
        }
        .banner video{
            width: 100%;
            height: 500px;
            object-fit: cover;
            margin: 0;
        }
    </style>

    <title>Endless journey enrekang</title>
  </head>
  <!-- ///////////////////////////////////////////////////////// -->
  <!--  custom domain -->
  <!-- 1. ubah -->
  <!-- 2. cek(git diff) -->
  <!-- 3.  git add . -->
  <!-- 4. git commit -m "caption" -->
  <!-- 5. git push -u origin main -->
  <!-- ////////////////////////////////////////////////////////// -->
  <body>
     
   
    <br>
      <!-- /// BAGIAN HEADER /// -->
    <header>
        <div class="banner">
        <video src="static/img/ok.mp4" autoplay loop muted></video>
       </div>
    </header>
 <!-- /// BAGIAN MENU /// -->
   
        
        <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Endless Journey Enrekang</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">contac</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
            </div>
          </nav>
 
    <!-- /// BAGIAN KONTEN /// -->
    <main>
        <!-- /////////////////////POPULAR TOURS ////////////////////////// -->
        <div class="container ">
            <div class="row text-center">
                <div class="col">
                    <p style="margin-bottom: 0; margin-top: 30px;">take a look at our</p>
                    <h2>MOST POPULAR TOURS</h2>
                    <hr class="bg-danger" width="30%">

                </div>
            </div>
        </div> 
    <div class="container-fluid bg-dark">   
        <div class="container pt-3">
            <div class="row text-center">

                <div class="col-lg-4 pt-3" data-aos="fade-right">
                    <div style="width: 19rem;" class="container">
                        <div class="card">
                            <img src="static/img/gambar2.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero excepturi ratione sunt.</p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quasi est accusantium.
                            </p>
                        </div>
                     </div>
                </div>

                <div class="col-lg-4 pt-3" data-aos="fade-down">
                    <div style="width: 19rem;" class="container">
                        <div class="card">
                            <img src="static/img/gambar2.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero excepturi ratione sunt.</p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quasi est accusantium.
                            </p>
                        </div>
                     </div>
                </div>

                <div class="col-lg-4 pt-3" data-aos="fade-left">
                    <div style="width: 19rem;" class="container">
                        <div class="card">
                            <img src="static/img/gambar2.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero excepturi ratione sunt.</p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quasi est accusantium.
                            </p>
                        </div>
                     </div>
                </div>
            </div>

        </div>

        <div class="container pt-5 pb-3">
            <div class="row text-center">

                <div class="col-lg-4 pt-3" data-aos="zoom-in-right">
                    <div style="width: 19rem;" class="container">
                        <div class="card">
                            <img src="static/img/gambar2.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero excepturi ratione sunt.</p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quasi est accusantium.
                            </p>
                        </div>
                     </div>
                </div>

                <div class="col-lg-4 pt-3" data-aos="zoom-in">
                    <div style="width: 19rem;" class="container">
                        <div class="card">
                            <img src="static/img/gambar2.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero excepturi ratione sunt.</p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quasi est accusantium.
                            </p>
                        </div>
                     </div>
                </div>

                <div class="col-lg-4 pt-3" data-aos="zoom-in-left">
                 <div style="width: 19rem;" class="container">
                    <div class="card">
                        <img src="static/img/gambar2.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero excepturi ratione sunt.</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quasi est accusantium.
                        </p>
                    </div>
                 </div>
                </div>
            </div>

        </div>
    </div>         
      <!-- //////////////////////////////////////////////////////////// -->   
    </main>
           <!-- /// LATE POST DAN RATING /// -->    
    
        <div class="container-fluid mt-2">
            <div class="row text-center">
                <div class="col-md-6 bg-danger " style=" padding-top: 30px; padding-bottom: 10px;">
                    <h1>LATE POST</h1>
                    <hr class="bg-dark" width="30%" >
                    <div style="width: 22rem;" class="container">
                        <div class="card">
                            <img  src="static/img/gambar2.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti delectus suscipit autem!</p>
                                <a href="" class="btn btn-danger">read more -></a>

                            </div>
                            
                        </div>

                    </div>

                </div>
                <div class="col-md-6 bg-success pt-4"> 
                    <h1>WHY CHOOSE US</h1>
                    <hr class="bg-danger" width="30%">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2>halo gaes</h2>
                                <i class="fa fa-globe">
                                    <br>Destinasi Menarik</i>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, a? Vero, corporis!</p>
                            </div>

                            <div class="col-lg-12">
                                <h2>halo gaes</h2>
                                <i class="fa fa-globe">
                                    <br>Destinasi Menarik</i>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, a? Vero, corporis!</p>
                            </div>

                            <div class="col-lg-12">
                                <h2>halo gaes</h2>
                                <i class="fa fa-globe">
                                    <br>Destinasi Menarik</i>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, a? Vero, corporis!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
<!-- /////////////////////////ucapan selamat////////////////////////////// -->
<div class="kata_bijak bg-primary mt-2">
    <div class="container-fluid">
        <div class="row text-center" style="padding-top: 30px; padding-bottom: 30px;">
            <div class="col">
                <h1>kata bijak sang petualang</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nobis tempora reprehenderit.</p>
            </div>
            
        </div>
    </div>

</div>
<!--///////////////////////////////////////////////////////////////////////-->
           <!--  <div class="row text-center">
                <div class="col lg-4">
                    <h2>halo1</h2>
                </div>

                <div class="col lg-4">
                    <h2>halo2</h2>
                </div>

                <div class="col lg-4">
                    <h2>halo3</h2>
                </div>

            </div> -->

      
    <!-- /// GABIAN FOOTER /// -->
    <footer class="footer bg-light">
        <h2>ini bagian footer</h2>
        <div class="container-fluid bg-dark">
            <div class="row">
                <div class="col-lg-3">
                    <h2>tentang kami</h2>
                </div>

                <div class="col-lg-3">
                    <h2>layanan</h2>
                </div>

                <div class="col-lg-3">
                    <h2>bantuan</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nam quibusdam eius.</p>
                </div>

                <div class="col-lg-3">
                    <h2>kubungi kami</h2>
                </div>
            </div>

        </div>
    </footer>

<!-- ////////////////////////////////////////////////////// -->
      <!-- jawa skrip awokawokawokawk -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
  


  </body>
</html>